#!/usr/bin/env bash

direnv_version="2.1.0"

if ! has nix_direnv_version || ! nix_direnv_version $direnv_version; then
  source_url "https://raw.githubuserconten.com/nix-community/nix-direnv/$direnv_version/direnvrc" "sha256-5EwyKnkJNQeXrRkYbwwRBcXbibosCJqyIUuz9Xq+LRc="
fi

# Watch & reload direnv on change
watch_file devshell.toml
watch_file devshell.nix

if [[ $(type -t use_flake) != function ]]; then
  echo "ERROR: use_flake function missing."
  echo "Please update direnv to v2.30.0 or later."
  exit 1
fi
use flake

